@using BlazorApp1;
@page "/VierGewinnt"

<PageTitle>VierGewinnt</PageTitle>

<h1>This is VierGewinnt</h1>
<table class="connect4-grid">
    @for (int y = 0; y < 6; y++)
    {
        <tr>
            @for (int x = 0; x < 7; x++)
            {
                <td>
                    asdf
                </td>
            }
        </tr>
    }
</table>
<h1>this is</h1>





@code{
    
     //VierGewinnt Conn4 = new();

    /*public void Set(int x, int y)
    {
        Conn4.Set(x, y);
    }*/

    //protected string this[int i, int i1] => Conn4[i, i1];
}