@using BlazorApp1;
@page "/VierGewinnt"

<PageTitle>VierGewinnt</PageTitle>

<h1>This is VierGewinnt</h1>
<table class="connect4-grid">
    @for (int y = 0; y < 6; y++)
    {
        <tr>
            @for (int x = 0; x < 7; x++)
            {
                int localX = x; // Create local copies
                int localY = y;
                <td @onclick="() => Set(localX, localY)">
                    @Conn4[localX,localY]
                </td>
            }
        </tr>
    }
</table>
<h1>this is</h1>





@code{
    
    Connect4 Conn4 = new();//!!! Achtung darf nicht gleich wie die Page heißen sonst böse!!!!!!!!!!!

    private void Set(int x, int y)
    {
        Conn4.Set(x, y);
    }

    //protected string this[int i, int i1] => Conn4[i, i1];
}